@font-face {
    font-family: 'Satoshi-Light';
    src: url('Satoshi-Light.woff2') format('woff2'),
        url('Satoshi-Light.woff') format('woff'),
        url('Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('Satoshi-Regular.woff2') format('woff2'),
        url('Satoshi-Regular.woff') format('woff'),
        url('Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('Satoshi-Medium.woff2') format('woff2'),
        url('Satoshi-Medium.woff') format('woff'),
        url('Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('Satoshi-Bold.woff2') format('woff2'),
        url('Satoshi-Bold.woff') format('woff'),
        url('Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url('Satoshi-Black.woff2') format('woff2'),
        url('Satoshi-Black.woff') format('woff'),
        url('Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayMedium-Regular.eot');
    src: url('HalyardDisplayMedium-Regular.eot?#iefix') format('embedded-opentype'),
        url('HalyardDisplayMedium-Regular.woff2') format('woff2'),
        url('HalyardDisplayMedium-Regular.woff') format('woff'),
        url('HalyardDisplayMedium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplay-Regular.eot');
    src: url('HalyardDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('HalyardDisplay-Regular.woff2') format('woff2'),
        url('HalyardDisplay-Regular.woff') format('woff'),
        url('HalyardDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayLight-Regular.eot');
    src: url('HalyardDisplayLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('HalyardDisplayLight-Regular.woff2') format('woff2'),
        url('HalyardDisplayLight-Regular.woff') format('woff'),
        url('HalyardDisplayLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplaySemiBold-Regular.eot');
    src: url('HalyardDisplaySemiBold-Regular.eot?#iefix') format('embedded-opentype'),
        url('HalyardDisplaySemiBold-Regular.woff2') format('woff2'),
        url('HalyardDisplaySemiBold-Regular.woff') format('woff'),
        url('HalyardDisplaySemiBold-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplay-Bold.eot');
    src: url('HalyardDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('HalyardDisplay-Bold.woff2') format('woff2'),
        url('HalyardDisplay-Bold.woff') format('woff'),
        url('HalyardDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display Medium';
    src: url('ClashDisplay-Medium.eot');
    src: url('ClashDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('ClashDisplay-Medium.woff2') format('woff2'),
        url('ClashDisplay-Medium.woff') format('woff'),
        url('ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display Semibold';
    src: url('ClashDisplay-Semibold.eot');
    src: url('ClashDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('ClashDisplay-Semibold.woff2') format('woff2'),
        url('ClashDisplay-Semibold.woff') format('woff'),
        url('ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Display Medium';
    src: url('ClashDisplay-Medium.eot');
    src: url('ClashDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('ClashDisplay-Medium.woff2') format('woff2'),
        url('ClashDisplay-Medium.woff') format('woff'),
        url('ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Display Semibold';
    src: url('ClashDisplay-Semibold.eot');
    src: url('ClashDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('ClashDisplay-Semibold.woff2') format('woff2'),
        url('ClashDisplay-Semibold.woff') format('woff'),
        url('ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}